<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>个人博客网站</title>
    <meta name="keywords" content="W.H" />
    <meta
      name="description"
      content="Hello ！！！"
    />
    <style lang="css">
      body {
          padding:0;
          margin:0;
          overflow:hidden;
      }
      div.content {
          width: 100%;
          height: 100%;
          position:fixed;
          left:0;
          top:0;
          right: 0;
          bottom: 0;
          font-size: 20px;
          text-align: center;
          color: white;
          padding-top: 12%;
      }
    
      .content-body{
          margin-top: 20px;
      }
     
    </style>
  </head>
  <body>
    <div class="content">
      <div class="content-body">
        <div class="logion">加班到天明，学习到昏厥 ！！！</div>
        <div class="introduce">
          程序员不止眼前的逻辑和代码，还有底层的框架和架构。
        </div>
      </div>
    </div>